<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutas Argentinas - Sobre Nosotros </title>
    <link rel="icon" type="img/png" href="/img/icons.png">
    <link rel="stylesheet" href="/css/informacion_style.css">
</head>
<body>
    <header>
        <nav>            
            <div id="logo">
                    <span class="logo-text">
                        Rutas Argentinas
                    </span>
            </div>
            <ul class="nav-links"> 
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/templates/destinos.html">Nuestros Destinos</a></li>
                <li><a href="/templates/contacto.html">Contacto</a></li>              
            </ul>
        </nav>
    </header>
    <section>
        <div>    
            <h1>¿Quieres conocernos?</h1>
            <h1>¿Quieres viajar?</h1>
        </div>
    </section>
    <div class="parrafo">
        <h2>Sobre Nosotros</h2>
        <div>
            <p>
                Bienvenido a <strong>Rutas Argentinas</strong>, tu agencia de viajes de confianza para descubrir los destinos más increíbles de Argentina. Nuestra misión es brindarte experiencias inolvidables, explorando las maravillas naturales y culturales que nuestro hermoso país tiene para ofrecer.
            </p>
            <p>
                En Rutas Argentinas, nos apasiona el turismo y estamos dedicados a ofrecerte servicios de alta calidad para que tu viaje sea perfecto. Contamos con una amplia variedad de destinos cuidadosamente seleccionados para todos los gustos y preferencias. Desde los vibrantes paisajes de la Región Norte hasta las encantadoras tierras de Buenos Aires, pasando por los tesoros escondidos de la región del Nuevo Cuyo y los paisajes deslumbrantes de la Patagonia.
            </p>
            <p>
                Nuestro equipo de profesionales está aquí para ayudarte en cada paso de tu aventura. Nos aseguramos de que cada detalle esté cubierto, desde la planificación de tu itinerario hasta la gestión de reservas y la organización de actividades. Además, ofrecemos un formulario sencillo y conveniente en nuestro sitio web para que puedas planificar tu próximo viaje con facilidad.
            </p>
            <p>
                En Rutas Argentinas, creemos que viajar no solo se trata de visitar lugares, sino de crear recuerdos que durarán toda la vida. Nos comprometemos a ofrecerte una experiencia de viaje personalizada, segura y placentera. Explora Argentina con nosotros y descubre la magia de sus rutas.
            </p>
        </div>
    </div>

</body>
<footer>
    <p>&copy; 2024 Rutas Argentinas. Todos los derechos reservados.</p>
    <p>Diseñado por Rutas Argentinas</p>
</footer>
</html>